<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_df"
        android:label="CS5520 TAIB"
        android:roundIcon="@mipmap/ic_launcher_df_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".AddLinkDialog"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:excludeFromRecents="true"
            android:label="Add Link"
            android:exported="false" />
        <activity
            android:name=".LinkCollector"
            android:label="Link Collector"
            android:exported="false" />
        <activity
            android:name=".about_me"
            android:label="About Me"
            android:exported="false" />
        <activity
            android:name=".clicky_clicky_activity"
            android:label="Clicky Clicky"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>